### 12일차 2021-01-05

In [1]:
# 오늘 할 일

# 1. 코드업 기초 100제 문제 풀기
# https://codeup.kr/problemsetsol.php?psid=23

In [2]:
# 1001 

print("Hello")

Hello

In [3]:
# 1002

print("Hello World")

Hello World

In [4]:
# 1003

print("Hello")
print("World")

Hello
World

In [5]:
# 1004

print("'Hello'")

'Hello'

In [6]:
# 1005

print('"Hello World"')

"Hello World"

In [7]:
# 1006

print('"!@#$%^&*()"')

"!@#$%^&*()"

In [10]:
# 1007

print('"C:\Download\hello.cpp"')

"C:\Download\hello.cpp"

In [13]:
# 1008

print("\u250C\u252C\u2510")
print("\u251C\u253C\u2524")
print("\u2514\u2534\u2518")

┌┬┐
├┼┤
└┴┘

In [14]:
# 1010

n = int(input())
print(n)

3
3

In [15]:
# 1011

char = input()
print(char)

p
p

In [19]:
# 1012

f = float(input())
print("%f" %f)

1.34
1.340000

In [20]:
# 1013

a = list(input().split())
print(* a)

1 2
1 2

In [22]:
# 1014

a = list(input().split())
a.reverse()
print(* a)

1 2
2 1

In [24]:
# 1015

f = float(input())
print("%0.2f" %f)

1.5928
1.59

In [29]:
# 1017

n = int(input())
for _ in range(3):
    print(n, end = " ")

125
125 125 125

In [30]:
# 1018

n = input()
print(n)

3:16
3:16

In [46]:
# 1019

str = list(input().split("."))

for i in range(len(str)):
    if i == 0:
        s = 4 - len(str[i])
        str[i] = '0' * s + str[i]
        print(str[i], end = "")
        continue
    if len(str[i]) < 2:
        str[i] = '.0' + str[i]
        print(str[i], end = "")
        continue
    if len(str[i]) == 2:
        str[i] = '.' + str[i]
        print(str[i], end = "")
        continue

99.1.1
0099.01.01

In [49]:
# 1020

str = list(input().split("-"))
print(str[0] + str[1])

000907-1121112
0009071121112

In [50]:
# 1021

str = input()
print(str)

Informatics
Informatics

In [51]:
# 1022

str = input()
print(str)

Programming is very fun!!
Programming is very fun!!

In [53]:
# 1023

str = input().split(".")
print(str[0]); print(str[1])

1.414213
1
414213

In [54]:
# 1024

str = input()
for i in range(len(str)):
    print("'" + str[i] + "'")

Boy
'B'
'o'
'y'

In [67]:
# 1025

n = input()

for i in range(len(n)):
    num = n[i] + '0'* (len(n) - 1 - i)
    print("[" + num + "]")

75254
[70000]
[5000]
[200]
[50]
[4]

In [90]:
# 1026

n = input().split(":")
num = int(n[1])
print("%d" %num)

17:03:57
3

In [115]:
# 1027

n = input().split('.')
year = int(n[0])
month = int(n[1]) 
day = int(n[2]) 
print('%0.2d-%0.2d-%0.4d' % (day, month, year))

2014.07.15
15-07-2014

In [116]:
# 1028

n = int(input())
print(n)

2147483648
2147483648

In [118]:
# 1029

n = float(input())
print("%.11f" %n)

3.14159265359
3.14159265359

In [119]:
# 1030

n = int(input())
print(n)

-2147483649
-2147483649

In [120]:
# 1031

n = int(input())
print("%o" %n) # 8진수로 변환

10
12

In [126]:
# 1032

n = int(input())
a = print("%x" %n) # 16진수로 변환, 소문자

255
ff

In [125]:
# 1033

n = int(input())
a = print("%X" %n) # 16진수로 변환, 대문자

255
FF

In [7]:
# 1034

n = input()
summ = 0
for i in range(len(n)):
    num = int(n[i]) * (8**(len(n) - 1 -i))
    summ += num
print(summ)

13
11

In [18]:
# 1035

n = input()
n = '0x' + n
n = int(n, 16)
print("%o" %n)

f
17

In [29]:
# 1036

n = input()
print(ord(n))

A
65

In [30]:
# 1037

n = int(input())
print(chr(n))

65
A

In [27]:
# 1038

a, b = map(int, input().split())
print(a + b)

-123 123
0

In [ ]:
# 1039

a, b = map(int, input().split())
print(a + b)

In [32]:
# 1040

a = int(input())
b = -a
print(b)

-123
123

In [35]:
# 1041

str = input()
change = ord(str) + 1
str = chr(change)
print(str)

0
1

In [37]:
# 1042

a, b = map(int, input().split())
print(a // b)

1 3
0

In [38]:
# 1043

a, b = map(int, input().split())
print(a % b)

10 3
1

In [39]:
# 1044

a = int(input())
print(a+1)

2147483647
2147483648

In [1]:
# 1045

a, b = map(int, input().split())

# 합
print(a + b)
# 차
print(a - b)
# 곱
print(a * b)
# 몫
print(a // b)
# 나머지
print(a % b)
# 나눈 값
print("%0.2f" %round(a / b, 2))

10 3
13
7
30
3
1
3.33

In [3]:
# 1046

a, b, c = map(int, input().split())
print(a + b + c)
m = (a + b + c) / 3
print("%0.1f" %m)

1 2 3
6
2.0

In [5]:
# 1047

a = int(input())
print(a*2)

1024
2048

In [7]:
# 1048

a, b = map(int, input().split())
print(a*(2**b))

1 3
8

In [15]:
# 1049

a, b = map(int, input().split())
if a > b:
    print(1)
else:
    print(0)

3 4
0

In [14]:
# 1050

a, b = map(int, input().split())
if a == b:
    print(1)
else:
    print(0)

1 3
0

In [13]:
# 1051

a, b = map(int, input().split())
if a <= b:
    print(1)
else:
    print(0)

0 0
1

In [17]:
# 1052

a, b = map(int, input().split())
if a != b:
    print(1)
else:
    print(0)

1 3
1

In [18]:
# 1053

a = int(input())
if a == 1:
    print(0)
else:
    print(1)

1
0

In [19]:
# 1054

a, b = map(int, input().split())
if a == 1 and b == 1:
    print(1)
else:
    print(0)

1 1
1

In [22]:
# 1055

a, b = map(int, input().split())
if a == 1 or b == 1:
    print(1)
else:
    print(0)

1 1
1

In [25]:
# 1056

a, b = map(int, input().split())
if a != b:
    print(1)
else:
    print(0)

0 0
0

In [26]:
# 1057

a, b = map(int, input().split())
if a == b:
    print(1)
else:
    print(0)

0 0
1

In [27]:
# 1058

a, b = map(int, input().split())
if a == 0 and b == 0:
    print(1)
else:
    print(0)

0 1
0

In [60]:
# 1059

a = int(input())
print(- a - 1)

2
-3

In [103]:
# 1060

a, b = map(int, input().split())
a2 = format(a, 'b'); b2 = format(b, 'b')
sumc = ''

if len(a2) != len(b2):
    if len(a2) > len(b2):
        count = len(a2) - len(b2)
        b2 = '0'*count + b2 
    else:
        count = len(b2) - len(a2)
        a2 = '0'*count + a2 
for i in range(len(a2)):
    if a2[i] == b2[i] and a2[i] == '1':
        sumc = sumc + '1'
    else:
        sumc = sumc + '0'      
print(int(sumc, 2))

3 5
1

In [108]:
# 1061

a, b = map(int, input().split())
a2 = format(a, 'b'); b2 = format(b, 'b')
sumc = ''

if len(a2) != len(b2):
    if len(a2) > len(b2):
        count = len(a2) - len(b2)
        b2 = '0'*count + b2 
    else:
        count = len(b2) - len(a2)
        a2 = '0'*count + a2 
for i in range(len(a2)):
    if a2[i] == '1' or b2[i] == '1':
        sumc = sumc + '1'
    else:
        sumc = sumc + '0'      
print(int(sumc, 2))

3 5
7

In [105]:
# 1062

a, b = map(int, input().split())
a2 = format(a, 'b'); b2 = format(b, 'b')
sumc = ''

if len(a2) != len(b2):
    if len(a2) > len(b2):
        count = len(a2) - len(b2)
        b2 = '0'*count + b2 
    else:
        count = len(b2) - len(a2)
        a2 = '0'*count + a2 
for i in range(len(a2)):
    if a2[i] != b2[i]:
        sumc = sumc + '1'
    else:
        sumc = sumc + '0'      
print(int(sumc, 2))

3 5
6

In [110]:
# 1063

a, b = map(int, input().split())
if a > b:
    print(a)
else:
    print(b)

123 456
456

In [111]:
# 1064

a = list(map(int, input().split()))
print(min(a))

3 -1 5

-1

In [113]:
# 1065

a = list(map(int, input().split()))
b = []

for i in range(len(a)):
    if a[i] % 2 == 0:
        b.append(a[i])
for i in range(len(b)):
    print(b[i])

1 2 4
2
4

In [115]:
# 1066

a = list(map(int, input().split()))
b = []

for i in range(len(a)):
    if a[i] % 2 == 0:
        b.append('even')
        continue
    else:
        b.append('odd')
    
for i in range(len(b)):
    print(b[i])

1 2 8
odd
even
even

In [116]:
# 1067

a = int(input())

if a < 0:
    print('minus')
else:
    print('plus')
if abs(a) % 2 == 0:
    print('even')
else:
    print('odd')

-2147483648
minus
even

In [117]:
# 1068

a = int(input())

if a >= 90:
    print('A')
elif a >= 70:
    print('B')
elif a >= 40:
    print('C')
else:
    print('D')

73
B

In [118]:
# 1069

a = input()

if a == 'A':
    print('best!!!')
elif a == 'B':
    print('good!!')
elif a == 'C':
    print('run!')
elif a == 'D':
    print('slowly~')
else:
    print('what?')

A
best!!!

In [119]:
# 1070

a = int(input())

if 3 <= a <= 5:
    print('spring')
elif 6 <= a <= 8:
    print('summer')
elif 9 <= a <= 11:
    print('fall')
else:
    print('winter')

12
winter

In [120]:
# 1071

a = list(map(int, input().split()))

for i in range(len(a)):
    if a[i] == 0:
        break
    print(a[i])

7 4 2 3 0 1 5 6 9 10 8
7
4
2
3

In [121]:
# 1072

n = int(input())
lis = list(map(int, input().split()))

for i in range(n):
    print(lis[i])

5
1 2 3 4 5
1
2
3
4
5

In [122]:
# 1073

a = list(map(int, input().split()))

for i in range(len(a)):
    if a[i] == 0:
        break
    print(a[i])

7 4 2 3 0 1 5 6 9 10 8
7
4
2
3

In [126]:
# 1074

a = int(input())

for i in range(a, 0, -1):
    print(i)

5
5
4
3
2
1

In [127]:
# 1075

a = int(input())

for i in range(a-1, -1, -1):
    print(i)

5
4
3
2
1
0

In [129]:
ord('f')

102

In [133]:
# 1076

char = input()
num = 97

while(num <= ord(char)):
    print(chr(num), end = " ")
    num = num + 1

f
a b c d e f

In [135]:
# 1077

a = int(input())

for i in range(0, a + 1):
    print(i)

4
0
1
2
3
4

In [138]:
# 1078

a = int(input())
b = []

for i in range(0, a + 1):
    if i % 2 == 0:
        b.append(i)
        
print(sum(b))

5
6

In [140]:
# 1079

a = list(input().split())

for i in range(len(a)):
    if a[i] == 'q':
        print(a[i])
        break
    print(a[i])

x b k d l q g a c
x
b
k
d
l
q

In [147]:
# 1080

a = int(input())
num = 1
v = 0

while(v < a):
    v += num
    num += 1
print(num - 1)

5
3

In [152]:
# 1081

a, b = map(int, input().split())

for i in range(1, a + 1):
    for j in range(1, b + 1):
        print(str(i) + " " +  str(j))

2 3
1 1
1 2
1 3
2 1
2 2
2 3

In [167]:
# 1082

a16 = input()
ls = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F']
ind = ls.index(a16)

for i in range(1, len(ls)):
    what = ind * i
    print(a16 + "*" + ls[i] + "=" + str("%X") %(what))

A
A*1=A
A*2=14
A*3=1E
A*4=28
A*5=32
A*6=3C
A*7=46
A*8=50
A*9=5A
A*A=64
A*B=6E
A*C=78
A*D=82
A*E=8C
A*F=96

In [169]:
# 1083

n = int(input())

for i in range(1, n+1):
    if i%3 == 0:
        print('X', end = ' ')
    else:
        print(i, end = ' ')

9
1 2 X 4 5 X 7 8 X

In [173]:
# 1084

r, g, b = map(int, input().split())

for i in range(0, r):
    for j in range(0, g):
        for k in range(0, b):
            print(str(i) + " " + str(j) + " " + str(k))
print(r*g*b)

2 2 2
0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1
8

In [185]:
# 1085

h, b, c, s = map(int, input().split())
size = h * b * c * s / 8
value = size / 1024 / 1024
print(str(round(value, 1)) + " MB")

44100 16 2 10
1.7 MB

In [187]:
# 1086

w, h, b  = map(int, input().split())
size = w * h * b / 8
value = size / 1024 / 1024
print("%0.2f MB" %round(value, 2))

1024 768 24
2.25 MB

In [192]:
# 1087

a = int(input())
sum = 0
i = 1
while (sum < a):
    sum += i
    i += 1
print(sum)

57
66

In [195]:
# 1088

a = int(input())

for i in range(1, a + 1):
    if i % 3 == 0:
        continue
    print(i, end = " ")

10
1 2 4 5 7 8 10

In [208]:
# 1089

a, d, n  = map(int, input().split())
print(a + d*(n-1))

1 3 5
13

In [211]:
# 1090

a, r, n  = map(int, input().split())
print(a*(r**(n-1)))

2 3 7
1458

In [216]:
# 1091

a, m, d, n  = map(int, input().split())
what = a
for i in range(n-1):
    what = (what * m) + d
print(what)

1 -2 1 8
-85

In [219]:
# 1092

a, b, c  = map(int, input().split())
day = 1

while((day % a) != 0 or (day % b) != 0 or (day % c) != 0):
    day += 1
print(day)

3 7 9
63

In [228]:
# 1093

num = int(input())
lis  = list(map(int, input().split()))
arr = [0 for i in range(24)]


for i in lis:
    arr[i] =  arr[i] + 1

arr.pop(0)
print(*arr)

10
1 3 2 2 5 6 7 4 5 9
1 2 1 1 2 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [229]:
# 1094

num = int(input())
lis  = list(map(int, input().split()))
lis.reverse()
print(*lis)

10
10 4 2 3 6 6 7 9 8 5
5 8 9 7 6 6 3 2 4 10

In [230]:
# 1095

num = int(input())
lis  = list(map(int, input().split()))
print(min(lis))

10
10 4 2 3 6 6 7 9 8 5
2

In [5]:
# 1096

n = int(input())
table = [[0] * 19 for i in range(19)]

for i in range(n):
    a, b = map(int, input().split())
    table[a-1][b-1] = 1
for i in range(19):
    for j in range(19):
        print(table[i][j], end = " ")
    print()

5
1 1
2 2
3 3
4 4
5 5
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [22]:
# 1097

table = [[0] * 19 for i in range(19)]

for i in range(19):
    lis = list(map(int, input().split()))
    for j in range(19):
        table[i][j] = lis[j] 
        
n = int(input())

nn = 0
for _ in range(n):
    a, b = map(int, input().split())
    for i in range(19):
        for j in range(19):
            if i == a-1 or j == b-1:
                table[i][j] = nn
for i in range(19):
    for j in range(19):
        print(table[i][j], end = " ")
    print()

0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
2
10 10
12 12
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0

In [23]:
# 1098
# 일어나서 하기

In [ ]:
# 1099